.login {
  background-image: url("https://i.ibb.co/vsTjKQz/90s-website-style.jpg"); 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("https://ak.picdn.net/shutterstock/videos/1016011171/thumb/1.jpg");
  background-color: black;
  background-size: cover;
}
.pet-card {
  margin: 25px;
  width: 420px;
  background-color: white;
  border: 10px solid #F04AA8;
}

img {
  width: 400px;
  height: 400px;
}

.delete {
  color: black;
  width: 400px;
  padding: 10px;
  background: #F78D40 ;
  font-size: 18pt;
  border: 5px solid #B24640;
}

.user-page {
  text-decoration: none;
  font-size: 45pt;
  letter-spacing: -3px;
  font-family: Helvetica;
  text-align: center;
  color: #BCEA89;
  background: black;
}

.user-name {
  font-size: 100pt;
  letter-spacing: 4px;
  line-height: 60pt;
  text-align: center;
  font-weight: normal;
  color: #FFB208;
  text-shadow: 10px 10px #53EBE2;
  background: #CDF453;
}

.pet-name {
  font-size: 28pt;
  text-decoration: none;
  color: #5BB9EA;
  letter-spacing: 4px;
  background: white;
  text-align: center;
}
.item-card {
  width: 200px;
  height: auto;
  text-align: center;
  margin: auto;
  padding-bottom: 50px; 
  border: none;
}
.item-button {
  color: black;
  width: 400px;
  padding: 10px;
  background: #F7F66E ;
  font-size: 18pt;
  border: 5px solid #B24640;
}
.item-container {
  
  border: 5px solid #E9FACA;
  width: 300px;
  background: white;
  display: inline-grid;
  margin: 0px;

}
p {
  font-size: 18pt;
  color: black;
  text-shadow: none;
}
.welcome {
  font-size: 100pt;
  letter-spacing: 4px;
  line-height: 60pt;
  text-align: center;
  font-weight: normal;
  color: #FFB208;
  text-shadow: 10px 10px #53EBE2;
}
.shop {
  font-size: 100pt;
  letter-spacing: 4px;
  line-height: 60pt;
  
  font-weight: normal;
  color: #FFB208;
  text-shadow: 10px 10px #53EBE2;
  background-image: url("https://i.pinimg.com/originals/0b/0d/c9/0b0dc9542cd849e9ffa36d01bfaa371d.png");
}
.item-name {
  border-bottom: 2px solid black;
  color: #8F50CE;
  background: #FEFF54;
  text-shadow: none;
  text-align: center;
}
input[type=text], select {
  width: 50%;
  height: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 3px solid #426BF6;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
input[type=number], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
.new-item-form {
  /* background: black; */
  padding: 100px;
  background: url("https://mcdn.wallpapersafari.com/medium/40/58/0wmq7H.jpg");
  background-size: cover;
  min-height: 100%;
}
.add-button {
  width: 50%;
  padding: 10px;
}

#adoption {
  margin-top: 15%;
}

.login-button{
  margin-top: 15%;
  text-align: center;
  text-shadow: 10px 10px #53EBE2;
}